---
layout: default
title: ཉེས་ཁྲིམས་དང་འབྲེལ་བའི་རྩོད་གཞི།
---
{% include header.html %}
	<h1>{{page.title}}</h1>
<article class="article-col-2">

<div>
	
	<div class="archive-list">
		<img src="{{site.baseurl}}/assets/images/punishment.jpg">
		<div>
		<h1>ཉེས་སྤྱོད་ཀྱི་ཉེས་ཆད་འགེལ་སྟངས།</h1>
			{% include filter-page.html  type='punishment-for-common-crimes' %}
		</div>
	</div>
	<div class="archive-list">
		<img src="{{site.baseurl}}/assets/images/hire-lawyer.jpg">
		<div>
		<h1>ཁྲིམས་རྩོད་པ་འཚོལ་ཐབས།</h1>
			{% include filter-page.html type='how-to-get-a-lawyer' %}
		</div>
	</div>
	<div class="">
		<p>
			གལ་ཏེ་གོང་གི་དྲ་ཚིགས་ཁག་ཏུ་ཁྱེད་ཀྱི་གནད་དོན་དང་འཚམ་པའི་དྲིས་ལན་མེད་ན་ཁྱེད་ཀྱིས་གཤམ་གྱི་འབྲེལ་ཐག་བརྒྱུད་ནས་ས་ཆ་དེ་གའི་ཁྲིམས་རྩོད་པ་དང་འབྲེལ་བ་མཐུད་ཐུབ། 
			<a href="{{site.baseurl}}/2020/09/24/blog1.html">  རེ་ཞུའི་ཆ་རྐྱེན།</a>
		</p>
		<p>
			ཁྱེད་ལ་འཕྲད་བཞིན་པའི་དཀའ་ངལ་དེ་གོང་དུ་འཁོད་པའི་སྡེ་ཚན་དུ་མི་གཏོགས་ན། ཁྱེད་ཀྱིས་དྲི་བ་དེ་འབྲེལ་ཐག་འདིའི་ནང་དུ་བསྟན་ཡོད་པའི་གོ་རིམ་ལྟར་ཁྲིམས་གླེང་ལ་བསྐུར་ན་ཁྲིམས་གླེང་གིས་དུས་ལྟར་ལན་ཞིག་ལྡོན་ཡོང་། 
		</p>
		<p><a href="{{site.baseurl}}/connect.html">connect</a></p>
	</div>

</div>


{% include widget.html %}
{% include footer.html %}
