---
layout: default
---
{% include header.html %}
	

	<div class="section-header">
		<p class="intro1">
			ཁྱེད་རང་ལ་བོད་སྐད་ཡིག་གི་སྟེང་ནས་ཁྲིམས་ལུགས་རོགས་རམ་བྱེད་དགོས་བྱུང་ཚེ། གལ་ཏེ་ཁྱེད་ཀྱི་གནད་དོན་དང་དྲི་བ་དེ་དག་གཤམ་གྱི་སྡེ་ཚན་གང་རུང་དུ་གཏོགས་ཚེ། 
			སྡེ་ཚེན་དེའི་འབྲེལ་གྱི་དྲ་ཐག་ལ་བསྣུན་ན་ཁྱེད་ཀྱི་དྲི་བ་དང་བསྟུན་པའི་ལན་དང་དྲི་བ་ལ་འབྲེལ་བ་ཡོད་པའི་ཡིག་ཆ་སོགས་ཤར་ཡོང་། ཁྲིམས་གླེང་གིས་ཐད་གར་དྲི་བ་འདི་དག་ལ་ལན་མི་ལྡོན། 
		</p>
<p class="intro2">ཁྱེད་ལ་འཕྲད་བཞིན་པའི་དཀའ་ངལ་དེ་གཤམ་དུ་འཁོད་པའི་སྡེ་ཚན་དུ་མི་གཏོགས་ན། ཁྱེད་ཀྱིས་དྲི་བ་དེ་གོང་གི་<a href="/connect.html" target="_blank">འབྲེལ་ཐག་འདིའི་ནང་དུ་</a>བསྟན་ཡོད་པའི་གོ་རིམ་ལྟར་ཁྲིམས་གླེང་ལ་བསྐུར་ན་ཁྲིམས་གླེང་གིས་དུས་ལྟར་ལན་ཞིག་ལྡོན་ཡོང་། </p>
		<!-- <img src="assets/images/pillar.png" style="width:160px">-->
	</div>
	<article class="grid-article">
		<div class="thumbnail-box">
			<img src="assets/images/picture.jpg">
			<a href="/family"><h1>བཟའ་ཚང་དང་འབྲེལ་བའི་རྩོད་གཞི།</h1></a>
		
		</div>
		<div class="thumbnail-box">
			<img src="assets/images/contract-for-sale-purchase-installment.jpg">
			<a href="/business">
			<h1>འཛད་སྤྱོད་དང་ཚོང་དོན་གྱི་རྩོད་གཞི།</h1>
			</a>
		</div>
		<div class="thumbnail-box">
			<img src="assets/images/loan.jpg">
			<a href="/finance-property"><h1>སྒེར་རྫས་དང་རྒྱུ་ནོར་ཐད་ཀྱི་རྩོད་གཞི།</h1></a>
		</div>
		<div class="thumbnail-box">
			<img src="assets/images/violence.jpg">
			<a href="/criminal-issues">
				<h1> ཉེས་ཁྲིམས་དང་འབྲེལ་བའི་རྩོད་གཞི།</h1>
			</a>
		</div>
	</article>
</section>
<section>
	<div class="section-header">
		<p class="intro1">གལ་ཏེ་གོང་གི་དྲ་ཚིགས་ཁག་ཏུ་ཁྱེད་ཀྱི་གནད་དོན་དང་འཚམ་པའི་དྲིས་ལན་མེད་ན་ཁྱེད་ཀྱིས་གཤམ་གྱི་འབྲེལ་ཐག་བརྒྱུད་ནས་ས་ཆ་དེ་གའི་ཁྲིམས་རྩོད་པ་དང་འབྲེལ་བ་མཐུད་ཐུབ། 
                     <a href="http://202.61.91.7:8084/lmtt.shtml?id=101" target="_blank">http://202.61.91.7:8084/lmtt.shtml?id=101</a>
        </p>
        <p class="intro1">ཁྱེད་ལ་འཕྲད་བཞིན་པའི་དཀའ་ངལ་དེ་གོང་དུ་འཁོད་པའི་སྡེ་ཚན་དུ་མི་གཏོགས་ན། ཁྱེད་ཀྱིས་དྲི་བ་དེ་<a href="/connect.html" target="_blank">འབྲེལ་ཐག་འདིའི་ནང་དུ་</a>བསྟན་ཡོད་པའི་གོ་རིམ་ལྟར་ཁྲིམས་གླེང་ལ་བསྐུར་ན་ཁྲིམས་གླེང་གིས་དུས་ལྟར་ལན་ཞིག་ལྡོན་ཡོང་། <br>

          </p>
		
	</div>
</section>
<br><br><br><br><br>
{% include footer.html %}



