---
layout: content
title: མདུན་ངོས།

---
      
 <div class="hero lazyload" data-bg="{{site.baseurl}}/assets/img/posts/military.jpg">
      <div class="hero__wrap">
        <h1 class="hero__title">ཉེས་དོན་ཞུ་གཏུག་གི་སྐོར།</h1>
        <p class="hero__meta">ཉེས་དོན་ཞུ་གཏུག་གི་བརྒྱུད་རིམ་དང་བརྡ་ཆད་སོགས།</p>
      </div>
    </div>
     
    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
     {% for post in site.posts %}
      {% if post.categories contains "ཁྲིམས་བཟོའི་སྐོར།" %}
              {% include card.html %}
             {% endif %}
            {% endfor %}
            
          </div>
        </div>
      </section>
    </main>
    {% include pagination.html %} 
   